*.csv
*.pyc
*.xmf
*.h5
*~
data*txt
*.log
*.out
*.dat
*.cmd
*.ele
*.face
*.node
*.bak
*.log.*
*.egg-info
*.idea
install_*
config_*
build/
proteus/__init__.py
proteus/__init__.pyc
proteus/mprans/*.so
proteus/mprans/*.cpp
config.py
darwin/
linux2/
garnet.gnu/
Cygwin
mesh*
src/subsurfaceTransportFunctions.c
hashdist/
stack/